
* {
 padding: 0px;
 margin: 0px;
 box-sizing: border-box;
}
.icon-section {
  color: orangered;
}
.last-section {
  position: relative;
}

.last-section .icon {
  position: absolute;
  top: 34%;
  left: 34%;
  width: 80px;
  height: 80px;
  background-color: rgba(255, 69, 0, 0.8);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  color: white;
}

.last-card i {
  font-size: 30px;
}

.last-card h4 {
  margin: 0.5rem 0;
  font-weight: bold;
}


.about-section,
.last-part {
  padding-top: 60px;
  padding-bottom: 60px;
}

.text-orange {
  color: orangered;
}

.last-card {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.last-card i {
  font-size: 40px; 
}

.last-card h4 {
  margin: 0;
  font-weight: bold;
}

.last-card p {
  margin: 0;
}
img{
    border-radius: 20px;
}

@media (max-width: 768px) {
  .last-card {
    flex-direction: row;
    gap: 0.5rem;
  }

  .last-card i {
    font-size: 30px;
  }

  .last-card h4 {
    font-size: 1.2rem;
  }
}
@media (max-width: 768px) {
  .last-section .icon {
    width: 60px;
    height: 60px;
    font-size: 25px;
  }
}

