
* {
 padding: 0px;
 margin: 0px;
 box-sizing: border-box;
}
.text{
    font-family: "Raleway",  sans-serif;
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    color: #444444;

}
.title-line {
  position: relative;
  display: inline-block;
  font-size: 16px;
  padding-right: 20px;
  color: #444444;
  font-family: sans-serif;
}

.title-line::after {
  content: "";
  position: absolute;
  top: 50%;
  margin-left: 61px;
  width: 140px;
  height: 3px;
  background: orangered;
  border-radius: 2px;
}


.contact-title {

      color: #273d4e;
    margin: 0;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
}


.info-box {
  background: #fff;
  padding: 30px;
  text-align: center;
  border-radius: 6px;

}

.info-box .icon {
  font-size: 28px;
  color: #ff6b28;
  margin-bottom: 10px;
}

.info-title {
  font-weight: 600;
  margin-bottom: 5px;
}

.info-text {
  font-size: 14px;
  color: #555;
}
.contact-form {
  background: #fff;
  border-radius: 6px;

}


.form-input {
  padding: 12px 15px;
  font-size: 15px;
}
.send-btn {
  background: #ff6b28;
  color: #fff;
  border: none;
  width: 160px;
  padding: 10px;
  border-radius: 5px;
}

.send-btn:hover {
  background: #dd4f0f;
}


.footer-section {
  background-color: #040b14;
  color: #fff;
  padding: 60px 0;
  font-family: "Inter", sans-serif;
}

.footer-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-section p {
  color: #ccc;
  margin-bottom: 8px;
  font-size: 15px;
}

.footer-section strong {
  color: #fff;
}

.footer-subtitle {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer-list li {
  margin-bottom: 10px;
  font-size: 15px;
  color: #ccc;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

.footer-list li i {
  color: #ff4d00;
  font-size: 14px;
}
.footer-list li:hover {
  color: #ff4d00;
}


.social-icons {
  display: flex;
  gap: 12px;
  margin-top: 20px;
}

.social-icons i {
  width: 38px;
  height: 38px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-size: 16px;
 
}

.social-icons i:hover {
  background: #ff4d00;
  border-color: #ff4d00;
}
.newsletter-input {
    border: 1px solid gray;
    background-color: transparent;
   
}
.newsletter-box {
  display: flex;
  margin-top: 10px;
}



.newsletter-btn {
  padding: 10px 20px;
  background: #ff4d00;
  color: #fff;
  border: none;
  cursor: pointer;

}

.newsletter-btn:hover {
  background: #ff3a00;
}


.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 40px;
  padding-top: 20px;
  font-size: 14px;
  color: #ccc;
}

.footer-bottom strong {
  color: white;
}
.last a{
    color: orangered;
    text-decoration: none;
}
ol, ul{
    padding-left: 0px;
}