* {
 padding: 0px;
 margin: 0px;
 box-sizing: border-box;
}
.custom-brand {
  margin: 10px;
  padding-left: 70px;
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.custom-navbaritem {
  font-family: "Inter", sans-serif;
}

.custom-brand:hover {
  color: white;
}

.nav-item a {
  font-size: 13px;
  font-weight: bold;
  color: white;
}

.nav-item a:hover {
  text-decoration: underline;
  text-decoration-color: orangered;
  text-decoration-thickness: 3px;
  color: white;
}

.custom-active {
  color: white !important;
  text-decoration: underline !important;
  text-decoration-thickness: 3px !important;
  text-decoration-color: orangered !important;
}

.nav-button {
  width: 168px;
  padding: 6px 18px;
  border-radius: 4px;
  background-color: transparent !important;
  border: 2px solid white !important;
  color: white !important;
  margin-left: 50px;
  font-size: 13px;
  font-weight: bold;
}

.nav-button:hover {
  background-color: orangered !important;
  border: 2px solid orangered !important;
}

.custom-navbaritem {
  margin-left: 426px;
  gap: 10px;
}


.main {
  position: relative;
  width: 100%;
  min-height: 100vh;

}

.main-img img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  object-position: center;
}


.main-content {
  position: absolute;
  top: 50%;
  left: 50%;


  transform: translate(-50%, -50%);

  width: 60%;
  text-align: left;
}

.main-section h1 {
  font-size: 48px !important;
  font-weight: 700 !important;
  text-transform: uppercase !important;
  color: white !important;
}

.main-section p {
  font-size: 24px;
  color: white;
}

.home-button {
  background-color: orangered;
  color: white;
  border: 1px solid orangered;
  width: 168px;
  padding: 10px 30px;
  font-weight: 400;
  font-size: 14px;
}

.home-button:hover {
  background-color: transparent;
  border: 0px !important;
}

.home-secondbutton {
  font-size: 20px;
  color: white;
}

.home-secondbutton:hover {
  color: orangered;
  border: 0px !important;
}



@media (max-width: 768px) {

  .main-content {
    width: 90% !important;
    text-align: center !important;
  }

  .main-section h1 {
    font-size: 32px !important;
  }

  .main-section p {
    font-size: 18px !important;
  }

  .main-section .d-flex {
    flex-direction: column !important;
    gap: 15px !important;
  }

  .home-button,
  .home-secondbutton {
    width: 100% !important;
  }

  .custom-navbaritem {
    margin-left: 0 !important;
    justify-content: center !important;
  }

  .nav-button {
    margin-left: 0 !important;
    width: 140px !important;
  }
}



@media (max-width: 360px) {

  .main-content {
    width: 95% !important;
    text-align: center !important;
  }

  .main-section h1 {
    font-size: 26px !important;
   
  }

  .main-section p {
    font-size: 16px !important;
  }

  .main-section .d-flex {
    flex-direction: column !important;
    gap: 12px !important;
  }

  .home-button,
  .home-secondbutton {
    width: 100% !important;
    padding: 10px 20px !important;
    font-size: 14px !important;
  }

  .custom-brand {
    padding-left: 10px !important;
    font-size: 24px !important;
  }

  .nav-button {
    width: 110px !important;
    padding: 5px 10px !important;
    font-size: 11px !important;
    margin-left: 0 !important;
  }

  .navbar {
    padding: 5px 10px !important;
  }
}



@media (max-width: 320px) {

  .main-content {
    width: 95% !important;
    text-align: center !important;
  }

  .main-section h1 {
    font-size: 22px !important;
  }

  .main-section p {
    font-size: 14px !important;
  }

  .home-button,
  .home-secondbutton {
    width: 100% !important;
  }
}
